body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #111;
    color: white;
}

nav {
    padding: 20px;
    background: #1c1c1c;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

section {
    padding: 30px;
}